{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["cases.ts", "cases/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-empty-object-type": "off"
      }
    }
  ]
}